@{
    Layout = "~/Views/Shared/ManagerLayout.cshtml";
}

<div class="container-fluid px-4">

    <h2>Create Task</h2>

    <form method="post" asp-action="Create">

        <div class="mb-3">
            <label>Target Entity</label>
            <input type="text" name="TargetEntity" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Title</label>
            <input type="text" name="Title" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Description</label>
            <input type="text" name="Description" class="form-control" required />
        </div>

        <div class="mb-3">
            <label>Due Date</label>
            <input type="datetime-local"
                   name="DueDate"
                   class="form-control"
                   required
                   value="@Model.DueDate.ToString("yyyy-MM-ddTHH:mm")" />
        </div>
        <div class="mb-3">
            <label>Employee Name</label>
            <select name="AssignedToUserName" class="form-control" required>
                @foreach (var user in ViewBag.Users)
                {
                    <option value="@user.UserName">@user.UserName</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">
            Create Task
        </button>

    </form>

</div>
