@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">

    <h1>About System</h1>

    <hr />

    <p>
        Electronic System for Managing Assignments and Reports
        is designed to facilitate the management of assignments,
        reports, and users within the Administrative Control Authority.
    </p>

    <p>
        The system helps organize tasks, track reports,
        and improve administrative workflow efficiency.
    </p>

</div>